.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  width: 100%;
}
.details {
  color: #1f1f1f;
  align-self: flex-start;
  padding: 20px 10px 10px 20px;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #1f1f1f;
  font-size: 3vh;
  width: 50%;
}

.form {
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #1f1f1f;
  border-radius: 8px;
  font-size: 3vh;
  max-height: 70vh;
}
.form form {
  font-size: 2vh;
}
.formlabel {
  margin-bottom: 8px;
  margin-top: 1vh;
  padding: 10px;
  color: #6f6e6e;
}

.forminput {
  padding: 10px;
  margin-top: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 3vh;
  background-color: #f4f4f4;
  color: #1f1f1f;
  width: 100%;
}
.formbutton {
  margin-top: 1vh;
  border: none;
  background-color: #6296c8;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
}
.formbutton:hover{
    background-color: #23527e;
  }
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: 100%;
    max-width: none;
  }
}
